.logo_nav{
    width: 13vw;
    padding: 40px;
    margin: 20px;
}
.contenedor_nav{
    display: flex;
    flex-direction: row;
    border: 1px solid red;
}
.imglogo_nav{
    width: 10rem;
}
.botones_nav{
    padding: 20px;
    margin: 40px;
    width: 70rem;
    display: flex;
    justify-content: flex-end;
}